*{
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  font-family: "Raleway", sans-serif;
}

/* Hero Section */

#Hero-Section {
  background-image: url(https://data.whicdn.com/images/306948743/original.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;

}

.navbar-collapse {
  color: #e9f32f
  }


.ms-auto {
color: #e9f32f
}
.my-5 {

  font-weight: 800;
  color: #e9f32f
}

.display-3 {

  color: #373a3c;
}

.my-4{

  color: #373a3c;
}

.row{

  color: #373a3c;
}


/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
